<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li>
                <a href="#">Dashboard</a>
            </li>

            <li>
                <a href="#/jobs-search">Job Search</a>
            </li>

            <li>
                <a href="#/resume-management">Resume Management</a>
            </li>

            <li>
                <a href="#/jobs-applied-for">Jobs Applied for</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <h1>Place holder</h1>
                  

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
