<div class="row">

 <! -- SINGLE POST -->
 <div class="col-lg-8" ng-init="getSingleJobWithId()">
   <! -- Blog Post 1 -->
  <!-- <p><img class="img-responsive" src="images/google.png"></p> -->
   <a href="#/top-jobs"><h3 class="ctitle">Back to top jobs</h3></a>
   <h3>{{single_job.job_title}}</h3>
    <p>{{single_job.job_description}}</p>
   <div class="spacing"></div>
   <h6>SHARE:</h6>
   <p class="share">
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <a href="#"><i class="fa fa-tumblr"></i></a>
     <a href="#"><i class="fa fa-google-plus"></i></a>
   </p>

 </div><! --/col-lg-8 -->
