
<div class="jumbotron">
  <h1>Awesome Jobs</h1>
  <p>Awesome Jobs is the world's most awesome jobs board, over 400 jobs listed a day, 25000 job seekers have found thier dream jobs on this plateform</p>
  <p><a href ="#/top-jobs" class="btn btn-primary btn-lg">Top Jobs</a></p>
</div>

<div class="row">

  <div class="col-md-6">
    <blockquote>
      <p>The flexibility that awesome hobs introduces is unparalled</p>
      <small>John Miller<cite title="Source Title">MVP Recruiter</cite></small>
    </blockquote>
</div>

<div class="col-md-6">
  <blockquote class="blockquote-reverse">
    <p>Awesome job enabled us to recruit the best Engineers for out startup!</p>
    <small>Martin O'Neil<cite title="Source Title">Snr. Recruiter</cite></small>
  </blockquote>
</div>

</div>


<div id="cwrap">
  <div class="container">
   <div class="row centered">
     <h3>Our Clients</h3>
     <div class="col-lg-3 col-md-3 col-sm-3">
       <img src="images/clients/client01.png" class="img-responsive">
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3">
       <img src="images/clients/client02.png" class="img-responsive">
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3">
       <img src="images/clients/client03.png" class="img-responsive">
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3">
       <img src="images/clients/client04.png" class="img-responsive">
     </div>
   </div><! --/row -->
  </div><! --/container -->
</div><! --/cwrap -->



<!-- Footer -->
<div class="row">
<div class="footer navbar-fixed-bottom">

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>1300, Vercelli
                          <br>Piedmont, Italy </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://facebook.com" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://facebook.com" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="http://facebook.com" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://facebook.com" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="http://facebook.com" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About AwesomeJobs</h3>
                        <p>We have over last few years changed the way web applications engineers work, <br>
                           join the winds of change and sail smooth to a new startup success</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; AwesomeJobs 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

  </div>
  </div>
